.sidebar_style {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 275px;
    padding: 5px 10px;
    background-color: maroon;
    color:white;

    flex-direction: column;
    align-items: flex-end;
}

.SIDEBAR_STYLE a {
    color: white;
}

.SIDEBAR_STYLE a:hover {
    color: hotpink;
}

/*  general  */
.standard_card {
    box-shadow: 0 1% 2% 0 lightgrey;
    transition: 0.3s;
    border-radius: 3px;
    box-shadow: 0 8px 16px 0 lightgray;

    padding: 10px;
    margin: 5px;
}

.standard_card:hover {
    box-shadow: 0 16px 32px 0 lightgray;
    cursor: default;
}

.row {
    margin: 10px 0;
    width:100%;
}


.full_width_div {
    width: 100%;
}

.flex_daddy {
    display: flex;
}


/* heights */
.height_full {
    height: 600px;
}

.height_50p {
    height: 285px;
}

/*  */
.top_numbers_row {
    display: flex;
    justify-content:space-around;
    padding: 0 0 20px 0;
}

.number {
    box-shadow: 0 1% 2% 0 lightgrey;
    transition: 0.3s;
    border-radius: 3px;
    background-color: lightgoldenrodyellow;
    box-shadow: 0 8px 16px 0 lightgray;

    padding: 10px 20px;
    width:100%;
}

.number:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
    cursor: default;
}

/*  */
.geo_row {
    display: flex;
    justify-content: center;

}

.geo_row:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
    cursor: default;
}


/* flexes */

.navbar_flex_baby {
    padding: 0 0;
}

.space_between {
    align-items: center;
    padding-right:30px;
    height: 40px;
}

.space_between p {
    padding-right: 15px;
}

.threed_flex_baby {
    width:60px;
    flex-grow: 2.00;
}

.histogram_flex_baby {
    width: 25px;
    flex-grow: 1.00;
}

.histogram_flex_daddy {
    display: flex;
    flex-direction:column;
}

/* content positioning */

.CONTENT_STYLE {
    position: relative;
    top: 0;
    margin-left: 290px;
    padding-top: 25px;
    background-color:white;
    /* margin-right: 2rem; */
    /* padding: 2rem 3rem; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}
